<nav class="navbar navbar-dark navbar-expand-lg ">
  <a class="navbar-brand" routerLink="/home"><img class="img-brand" src="/assets/img/logo.png" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav mx-auto mr-2 mt-lg-0">
      <li class="nav-item">
        <a routerLink="/price" class="nav-link" routerLinkActive="active">ЦЕНИ</a>
      </li>
      <li class="nav-item">
        <a routerLink="/industries" class="nav-link" routerLinkActive="active">СУБЈЕКТИ</a>
      </li>
      <li class="nav-item">
        <a routerLink="/about" class="nav-link" routerLinkActive="active">ЗА НАС</a>
      </li>
      <li class="nav-item">
        <a routerLink="/contact" class="nav-link" routerLinkActive="active">КОНТАКТ</a>
      </li>
      <li class="nav-item">
        <a href="https://app.metricity.mk/sign-up" class="nav-link">РЕГИСТРИРАЈ СЕ</a>
      </li>
      <li class="nav-item">
        <a href="https://app.metricity.mk/login" class="nav-link">НАЈАВИ СЕ</a>
      </li>
    </ul>
    <form id="demo-1">
        <input type="search" placeholder="Search">
    </form>
  </div>
</nav>