.img-brand {
	width: 105px;
}

input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}


input[type=search] {
	/* background: url(/assets/img/search-icon.svg) no-repeat -5px center; */
	border: none;
	padding: 9px 10px 9px 32px;
	width: 55px;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 130px;
	background-color: #fff;
	border-color: #66CC75;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}

#demo-1 input[type=search] {
	width: 15px;
	padding-left: 10px;
	color: transparent;
    cursor: pointer;
    background: url(/assets/img/search-icon.svg) no-repeat -5px center;
    
}
#demo-1 input[type=search]:hover {
    background-color: #fff;
    background: url(/assets/img/search-gray.svg) no-repeat -5px center;
}
#demo-1 input[type=search]:focus {
	width: 130px;
	padding-left: 32px;
	color: #000;
	background-color: #fff;
    cursor: auto;
}
#demo-1 input:-moz-placeholder {
    color: transparent;
}
#demo-1 input::-webkit-input-placeholder {
    color: transparent;
}