<div class="demo py-5">
  <div class="price-container">
      <div class="row">
          <div class="col-md-4 col-sm-6">
              <div class="pricingTable">
                  <div class="pricingTable-header">
                      <h3 class="title">Basic</h3>
                  </div>
                  <div class="profile">
                      <h3 class="title">Up to 125</h3>
                  </div>
                  <div class="price-value">
                      <span class="amount">3.5<span class="currency">&#8364;</span></span>
                      <span class="month">по клиент <br> месечно</span>
                  </div>
                  <ul class="pricing-content">
                      <li><i class="fa fa-times text-muted"></i> <span class="text-muted">Client Customer Login</span></li>
                      <li><i class="fa fa-check"></i> Lexis Nexis Screening</li>
                      <li><i class="fa fa-check"></i> GPS- location address analysis</li>
                      <li><i class="fa fa-check"></i> Risk assment calculation automatically</li>
                      <li><i class="fa fa-check"></i> Ultimate beneficial owner VA</li>
                      <li><i class="fa fa-times text-muted"></i> <span class="text-muted" style="font-size: 11px !important;">Adjustable rule engine/ create own risk criterias</span></li>
                      <li><i class="fa fa-check"></i> Central document respository</li>
                      <li><i class="fa fa-check"></i> High risk jurisdiction</li>
                      <li><i class="fa fa-check"></i> PEP- Politically exposed persons</li>
                      <li><i class="fa fa-times text-muted"></i> <span class="text-muted">Identity verification/ID scanning</span></li>
                  </ul>
                  <a routerLink="/contact" class="pricingTable-signup">Нарачај</a>
              </div>
          </div>
          <div class="col-md-4 col-sm-6">
              <div class="pricingTable green">
                  <div class="pricingTable-header">
                      <h3 class="title">Medium</h3>
                  </div>
                  <div class="profile">
                        <h3 class="title">Up to 375</h3>
                    </div>
                  <div class="price-value">
                      <span class="amount">2.5<span class="currency">&#8364;</span></span>
                      <span class="month">по клиент <br> месечно</span>
                  </div>
                  <ul class="pricing-content">
                      <li><i class="fa fa-check"></i> Client Customer Login</li>
                      <li><i class="fa fa-check"></i> Lexis Nexis Screening</li>
                      <li><i class="fa fa-check"></i> GPS- location address analysis</li>
                      <li><i class="fa fa-check"></i> Risk assment calculation automatically</li>
                      <li><i class="fa fa-check"></i> Ultimate beneficial owner VA</li>
                      <li><i class="fa fa-check"></i> <span style="font-size: 11px !important;">Adjustable rule engine/ create own risk criterias</span> <br> <span>(Up to 3 criterias)</span></li>
                      <li><i class="fa fa-check"></i> Central document respository</li>
                      <li><i class="fa fa-check"></i> High risk jurisdiction</li>
                      <li><i class="fa fa-check"></i> PEP- Politically exposed persons</li>
                      <li><i class="fa fa-check"></i> Identity verification/ID scanning <br> <span>(Image scan only)</span></li>
                  </ul>
                  <a routerLink="/contact" class="pricingTable-signup">Нарачај</a>
              </div>
          </div>
          <div class="col-md-4 col-sm-6">
              <div class="pricingTable purple">
                  <div class="pricingTable-header">
                      <h3 class="title">Premium</h3>
                  </div>
                  <div class="profile">
                        <h3 class="title">Up to 750</h3>
                    </div>
                  <div class="price-value">
                      <span class="amount">1.5<span class="currency">&#8364;</span></span>
                      <span class="month">по клиент <br> месечно</span>
                  </div>
                  <ul class="pricing-content">
                        <li><i class="fa fa-check"></i> Client Customer Login</li>
                        <li><i class="fa fa-check"></i> Lexis Nexis Screening</li>
                        <li><i class="fa fa-check"></i> GPS- location address analysis</li>
                        <li><i class="fa fa-check"></i> Risk assment calculation automatically</li>
                        <li><i class="fa fa-check"></i> Ultimate beneficial owner VA</li>
                        <li><i class="fa fa-check"></i> <span style="font-size: 11px !important;">Adjustable rule engine/ create own risk criterias</span></li>
                        <li><i class="fa fa-check"></i> Central document respository</li>
                        <li><i class="fa fa-check"></i> High risk jurisdiction</li>
                        <li><i class="fa fa-check"></i> PEP- Politically exposed persons</li>
                        <li><i class="fa fa-check"></i> Identity verification/ID scanning</li>
                    </ul>
                  <a routerLink="/contact" class="pricingTable-signup">Нарачај</a>
              </div>
          </div>
          
          
      </div>
  </div>
</div>