

.aboutus-section {
    padding: 90px 0;
    
}

.aboutus {
    background-color: #fff;
    padding: 90px 30px;
}
.aboutus-title {
    font-size: 30px;
    letter-spacing: 0;
    line-height: 32px;
    margin: 0 0 39px;
    padding: 0 0 11px;
    position: relative;
    text-transform: uppercase;
    color: #000;
}
.aboutus-title::after {
    background: #bbb none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 54px;
}
.aboutus-text {
    color: #bbb;
    font-size: 13px;
    line-height: 22px;
    margin: 0 0 35px;
}