<div class="aboutus-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="aboutus">
                    <h2 class="aboutus-title">За Нас</h2>
                    <p class="aboutus-text">Следење на трансакциите на производите, Известување за валутни трансакции и Анализа на случај.</p>
                    <p class="aboutus-text">

                        Гореспоменатите решенија ќе допринесат компаниите да ги запознаат своите клиенти, ќе направат проценка на ризик на клиентското портфолио и ќе го заштитат бизнисот на компаниите од измами и закани. 
                        
                        </p>
                    <p class="aboutus-text">Ќе овозможат на секоја компанија здрава проверка со усогласеноста, ќе овозможат бизнисот да е во согласност со законската регулатива и ќе ја заштитат репутацијата и брендот на компанијата.</p>
                </div>
            </div>
        </div>
    </div>
</div>