.content-center {
    position: absolute;
    top: 20%;
    left:10%;
    right:10%;
    /* background-color: rgb(0,0,0,0.5); */
}

span {
  font-weight: 900;
  color: #3FA8F4;
  /* text-shadow: 1px 1px 20px #ffffff; */
}

.intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
  }

  .intro-text .intro-lead-in {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* font-style: italic; */
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 25px;
  }
  
  .intro-text .intro-heading {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 25px;
    line-height: 50px;
    margin-bottom: 25px
  }
  @media only screen and (min-width: 319px) {
    .content-center {
      position: relative;
      left: 1%;
      right: 1%;
      top: 2%;
  }
  }
  @media only screen and (min-width: 1900px) {
    .content-center {
      position: absolute;
      top: 20%;
      left:10%;
      right:10%;
      /* background-color: rgb(0,0,0,0.5); */
  }
}