<div class="container content-center">
  <div class="text-white">
    <div class="intro-text">
      <div class="intro-heading text-center"><span>KYC</span> - Запознај го својот клиент</div>
      <div class="intro-lead-in text-center">Проверете дали Вашите клиенти се наоѓаат на <span>Sanctions & Enforcement</span>, <span>Politically Exposed Persons</span>, <span>Adverse Media & State-Owned Enterprises</span> листи. Подржано од глобалниот лидер <span>Lexis Nexis</span></div>
      <div class="intro-lead-in text-center">Автоматска проценка на ризик и можност за додавање на свои фактори на ризик без дополнително програмирање</div>
      <div class="intro-lead-in text-center">Идентификацијата на Вашиот клиент, крајниот сопственик изгледа лесно и едноставно со Визуелна Анализа</div>
      <div class="intro-lead-in text-center">Вашите клиенти можат да се логираат во системот и да достават документи или одговорат на прашања кои Вие ќе им ги поставите</div>
      <div class="text-center mt-5 box"><a routerLink="/price" class="btn btn-xl">Види ги нашите пакети</a></div>
  </div>
  </div>
</div>
