<div class="container mt-10">
    <h4>СУБЈЕКТИ</h4>
    <div class="row">
            <div class="col-md-6">
                <div class="panel-group" id="accordion5" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo5">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion5" href="#collapseTwo1" aria-expanded="false" aria-controls="collapseTwo1">
                                    Банки и Не-Банкарски Финансиски Институции 
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo1">
                            <div class="panel-body">
                                <p>Штедилници, даватели на услуги брз трансфер на пари и  субагенти, менувачници, брокерски друштва, факторинг-компанија, друштва кои управуваат со инвестициски фондови,друштва за управување со доброволни пензиски фондови, осигурителни друштва, осигурителни агенти, осигурителни брокери при давање на услуги на осигурување на живот, финансиски лизинг </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo2">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion5" href="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
                                    Приредувачи на игри на среќа во казина
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo2">
                            <div class="panel-body">
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree3">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion5" href="#collapseThree3" aria-expanded="false" aria-controls="collapseThree3">
                                    Нотари
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree3">
                            <div class="panel-body">
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree4">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion5" href="#collapseThree4" aria-expanded="false" aria-controls="collapseThree4">
                                    Сметководствените компании
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree4">
                            <div class="panel-body">
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree5">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion5" href="#collapseThree5" aria-expanded="false" aria-controls="collapseThree5">
                                    Ревизорски компании / Овластените ревизори
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree5">
                            <div class="panel-body">
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>    
              
            </div>
            <div class="col-md-6">
                <div class="panel-group" id="accordion5" role="tablist" aria-multiselectable="true">
                    
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo6">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion5" href="#collapseTwo6" aria-expanded="false" aria-controls="collapseTwo6">
                                    Граѓански здруженија и фондации
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo6">
                            <div class="panel-body">
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo7">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion5" href="#collapseTwo7" aria-expanded="false" aria-controls="collapseTwo7">
                                    Правни лица чија дејност е купопродажба на возила
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo7">
                            <div class="panel-body">
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree8">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion5" href="#collapseThree8" aria-expanded="false" aria-controls="collapseThree8">
                                    Правни лица што вршат испорака на вредносни пратки (пошта)
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree5">
                            <div class="panel-body">
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree9">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion5" href="#collapseThree9" aria-expanded="false" aria-controls="collapseThree9">
                                    Даватели на консултантски услуги
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree9">
                            <div class="panel-body">
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree10">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion5" href="#collapseThree10" aria-expanded="false" aria-controls="collapseThree5">
                                    Агенции за промет со недвижности
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree10">
                            <div class="panel-body">
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>    
              
            </div>
    </div>
</div>