body{background:#f1f1f2;}
h4{text-align:center;margin:30px 0px;color:#fff;}
.mt-10{margin-top:20px;}
a:hover,a:focus{
    text-decoration: none;
    outline: none;
}


#accordion5 .panel{
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin: 0 0 15px 50px;
}
#accordion5 .panel-title a{
    display: block;
    padding: 10px 20px 10px 60px;
    background: #fe5f55;
    border-radius: 30px;
    border: 2px solid #fe5f55;
    font-size: 20px;
    font-weight:400;
    color: #fff;
    position: relative;
}
#accordion5 .panel-title a.collapsed{
    border: 2px solid #bbb;
    background: #fff;
    color: #000;
}
#accordion5 .panel-title a:before,
#accordion5 .panel-title a.collapsed:before{
    content: "\f068";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    background: #fe5f55;
    font-size: 18px;
    color: #fff;
    text-align: center;
    border-right: 3px solid #fff;
    position: absolute;
    top: -10px;
    left: -30px;
    z-index: 1;
    transition: all 0.3s ease 0s;
}
#accordion5 .panel-title a.collapsed:before{
    content: "\f067";
    background: #bbb;
    border: none;
}
#accordion5 .panel-body{
    padding: 10px 15px 0;
    margin: 0 0 0 30px;
    border: none;
    font-size: 14px;
    color: #fff;
    line-height: 28px;
    position: relative;
}
#accordion5 .panel-body:before{
    content: "";
    display: block;
    width: 5px;
    height: 90%;
    background: #fe5f55;
    position: absolute;
    top: 0;
    left: -30px;
}
#accordion5 .panel-body:after{
    content: "";
    border-top: 20px solid #fe5f55;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    position: absolute;
    bottom: 0;
    left: -48px;
}