/* You can add global styles to this file, and also import other style files */

.btn-xl {
    color: white;
    background-color: #14508C;
    /* border-color: #ffffff; */
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    /* border-radius: 25px; */
    font-size: 12px;
    padding: 20px 40px;
    /* border: 1px solid; */
  /* box-shadow: 5px 5px 75px 5px #ffffff; */
  }
  .btn-xl:hover,
  .btn-xl:focus,
  .btn-xl:active,
  .btn-xl.active,
  .open .dropdown-toggle.btn-xl {
    color: white;
    background-color: #3FA8F4;
    /* border-color: #14508C; */
  }
  .btn-xl:active,
  .btn-xl.active,
  .open .dropdown-toggle.btn-xl {
    background-image: none;
  }
  .btn-xl.disabled,
  .btn-xl[disabled],
  fieldset[disabled] .btn-xl,
  .btn-xl.disabled:hover,
  .btn-xl[disabled]:hover,
  fieldset[disabled] .btn-xl:hover,
  .btn-xl.disabled:focus,
  .btn-xl[disabled]:focus,
  fieldset[disabled] .btn-xl:focus,
  .btn-xl.disabled:active,
  .btn-xl[disabled]:active,
  fieldset[disabled] .btn-xl:active,
  .btn-xl.disabled.active,
  .btn-xl[disabled].active,
  fieldset[disabled] .btn-xl.active {
    background-color: #fed136;
    border-color: #fed136;
  }
  .btn-xl .badge {
    color: #fed136;
    background-color: white;
  }